<div class="content">

    <div style="height:50px;width:100%;"></div>
    <md-card class="card">
        <md-toolbar color="primary">Dados da Turma de {{presentationName}}</md-toolbar>
        <md-card-content>
            <table style="width: 100%" cellspacing="0">
                <tr>
                    <td colspan="10">
                        <md-input [(ngModel)]="classT.name" placeholder="Nome da Turma" style="width: 100%"></md-input>
                    </td>
                </tr>
                <tr *ngIf="discipline!=='inst'">
                    <td colspan="2">
                        <md-input [(ngModel)]="schedule.hourInit" style="width: 95%" placeholder="Hora de Inicio"></md-input>
                    </td>
                    <td colspan="2">
                        <md-input [(ngModel)]="schedule.minsInit" style="width: 95%" placeholder="Minutos de Inicio"></md-input>
                    </td>
                    <td colspan="2">
                        <md-input [(ngModel)]="schedule.hourFinit" style="width: 95%" placeholder="Hora de Fim"></md-input>
                    </td>
                    <td colspan="2">
                        <md-input [(ngModel)]="schedule.minsFinit" style="width: 95%" placeholder="Minutos de Fim"></md-input>
                    </td>
                    <td colspan="2">
                        <md-input [(ngModel)]="schedule.weekDay" style="width: 100%" placeholder="Dia da Semana"></md-input>
                    </td>
                </tr>
            </table>
        </md-card-content>
    </md-card>

    <md-card [class.card]="edit">
        <md-toolbar color="primary">Professores
            <div class="searchbar">
                <md-icon style="margin-bottom:10px; margin-right:5px;" class="md-32" >search</md-icon>
                <md-input #input (keyup)="searchProfessor(input.value)" placeholder="Pesquisa" ></md-input>
            </div>
        </md-toolbar>
        <md-card-content>
            <md-list dense>
                <md-list-item (click)="checkProfessor(professor.$key)" *ngFor="let professor of professors | async">
                    <h4 md-line>{{professor.firstName}} {{professor.lastName}}</h4>
                    <p md-line > {{professor.city}} </p>
                    <button md-icon-button *ngIf="classT.professor==professor.$key">
                        <md-icon class="md-32" >check</md-icon>
                    </button>
                </md-list-item>

                <md-list-item  *ngIf="loading"  align="center">
                    <div class="progress-container">
                        <md-progress-circle mode="indeterminate" color="primary"></md-progress-circle>
                    </div>
                </md-list-item>
            </md-list>
        </md-card-content>
    </md-card>

    <md-card *ngIf="edit">
        <md-toolbar color="primary">Alunos
            <div class="searchbar">
                <md-icon style="margin-bottom:10px; margin-right:5px;" class="md-32" >search</md-icon>
                <md-input #input (keyup)="searchStudent(input.value)" placeholder="Pesquisa"></md-input>
            </div>
        </md-toolbar>
         <md-card-content>
            <md-list dense>
                <md-list-item (click)="checkStudent(student)" *ngFor="let student of students | async">
                    <h4 md-line>{{student.firstName}} {{student.lastName}}</h4>
                    <p md-line > {{student.city}} </p>
                    <button md-icon-button *ngIf="verifyStudent(student)">
                        <md-icon class="md-32" >check</md-icon>
                    </button>
                </md-list-item>

                <md-list-item  *ngIf="loading"  align="center">
                    <div class="progress-container">
                        <md-progress-circle mode="indeterminate" color="primary"></md-progress-circle>
                    </div>
                    
                </md-list-item>

            </md-list>
        </md-card-content>
    </md-card>

    <button md-raised-button *ngIf="edit" (click)="submit()" class="button" color="primary">Editar</button>
    <button md-raised-button *ngIf="!edit" (click)="submit()" class="button" color="primary">Adicionar</button>

</div>