<div class="content">
    <md-card class="card">
        <md-card-title>Pagamentos do Aluno/a {{student.firstName}} {{student.lastName}}</md-card-title>
        <md-card-content>
            <div class="searchbar" style="margin-top:-50px;">
                <button md-icon-button (click)="addAutoPayments()">
                    <md-icon>playlist_add</md-icon>
                </button>            
            </div>
            <md-list>
                <table style="width: 100%" cellspacing="0">
                    <tr *ngFor="let payment of student.payments">
                        <td colspan="2">
                            <md-checkbox [(ngModel)]="payment.done">
                            </md-checkbox>
                        </td>
                        <td colspan="2">
                            <p md-line>{{payment.month}}</p>
                        </td>
                        <td colspan="2">
                            <p md-line>{{payment.year}}</p>
                        </td>
                        <td colspan="2">
                            <p md-line>{{payment.value}}€</p>
                        </td>
                        <td colspan="2">
                            <p md-line>{{payment.datePayment | date:"dd/MM/yy" }}</p>
                        </td>
                        <td colspan="2">
                            <button md-icon-button (click)="editPayment(payment)">
                                <md-icon>edit</md-icon>
                            </button>
                            <button md-icon-button (click)="savePayment(payment)">
                                <md-icon>save</md-icon>
                            </button>
                            <button md-icon-button (click)="deletePayment(payment)">
                                <md-icon>delete</md-icon>
                            </button>
                        </td>                    
                    </tr>
                </table>
            </md-list>
        </md-card-content>
    </md-card>

    <br>
    <md-card class="card">
        <md-card-title>
            <p md-line *ngIf="edit==false">Registar Novo Pagamento</p>
            <p md-line *ngIf="edit==true">Editar Pagamento</p>            
        </md-card-title>
        <md-card-content>
            <table style="width: 100%" cellspacing="0">
                <tr>
                    <td colspan="2">
                        <md-input [(ngModel)]='toAdd.month' placeholder="Mês" style="width: 95%"></md-input>
                    </td>
                    <td colspan="2">
                        <md-input [(ngModel)]='toAdd.year' placeholder="Ano" style="width: 95%"></md-input>
                    </td>
                    <td colspan="2">
                        <md-input [(ngModel)]='toAdd.value' placeholder="Valor" style="width: 100%">
                            <span md-suffix>€</span>
                        </md-input>
                    </td>
                </tr>
            </table>
            <button md-button *ngIf="edit==false" (click)="addPayment()">Registar</button>
            <button md-button *ngIf="edit==true" (click)="setPayment()">Editar</button>
        </md-card-content>
    </md-card>
</div>