<div class="content">
    <div style="height:50px;width:100%;"></div>
    <md-card class="card">
        <md-card-title>Alunos 
            

        </md-card-title>
        <md-card-content>
            <md-list dense>
                <md-list-item *ngFor="let student of students | async">
                    <h4 md-line>{{student.firstName}} {{student.lastName}}</h4>
                    <p md-line > {{student.city}} </p>
                    <button md-icon-button (click)="editStudent(student.$key)">
                        <md-icon class="md-32" >edit</md-icon>
                    </button>
                    <button md-icon-button (click)="deleteStudent(student.$key)">
                        <md-icon class="md-32" >delete</md-icon>
                    </button>
                </md-list-item>

                <md-list-item  *ngIf="loading"  align="center">
                    <div class="progress-container">
                        <md-progress-circle mode="indeterminate" color="primary"></md-progress-circle>
                    </div>
                    
                </md-list-item>

            </md-list>
        </md-card-content>
    </md-card>
    
    <a class="add-student" [routerLink]="['/students/add']" md-fab>
      <md-icon class="md-24" >add</md-icon>
    </a>
</div>
