<div class="content">
    <md-card class="card">
        <md-card-title>Dados do Professor</md-card-title>
        <md-card-content>
            <!--<md-input class="demo-full-width" placeholder="Company (disabled)" disabled value="FUT"></md-input> -->
            <table style="width: 100%" cellspacing="0">
                <tr>
                    <td colspan="3">
                        <md-input [(ngModel)]='professor.firstName' placeholder="Nome Próprio" style="width: 95%"></md-input>
                    </td>
                    <td colspan="3">
                        <md-input [(ngModel)]='professor.lastName' placeholder="Último Nome" style="width: 100%"></md-input>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <md-input [(ngModel)]='professor.address' class="demo-full-width" style="width: 95%" placeholder="Morada"></md-input>
                    </td>
                    <td colspan="2">
                        <md-input [(ngModel)]='professor.email' class="demo-full-width" style="width: 95%" placeholder="Email"></md-input>
                    </td>
                    <td colspan="2">
                        <md-input [(ngModel)]='professor.contact' class="demo-full-width" style="width: 100%" placeholder="Contato"></md-input>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <md-input [(ngModel)]='professor.city' class="demo-full-width" style="width: 95%" placeholder="Cidade" value="Coimbra"></md-input>
                    </td>
                    <td colspan="2">
                        <md-input [(ngModel)]='professor.postalCode' class="demo-full-width" style="width: 95%" maxLength="8" placeholder="Código Postal" value="3045">
                        </md-input>
                    </td>
                    <td colspan="2">
                        <md-input [(ngModel)]='professor.socioNumber' class="demo-full-width" style="width: 100%" maxLength="8" placeholder="Número de Sócio" value="3045">
                        </md-input>
                    </td>
                <tr>
                <tr>
                    <td colspan="3">
                        <md-input [(ngModel)]='professor.birthdayDate' class="demo-full-width" style="width: 95%" placeholder="Data de Nascimento" value="Coimbra"></md-input>
                    </td>
                    <td colspan="3">
                        <md-input [(ngModel)]='professor.entryDate' class="demo-full-width" style="width: 100%" placeholder="Data de Entrada" value="Coimbra"></md-input>
                    </td>
                <tr>
            </table>
        </md-card-content>
    </md-card>

    <md-card class="card">
        <md-card-title>Dados Contratuais</md-card-title>
        <md-card-content>
            <table style="width: 100%" cellspacing="0">
                <tr>
                    <td colspan="2">
                        <md-checkbox [(ngModel)]="canGive[0]">
                            Instrumento
                        </md-checkbox>
                    </td>
                    <td colspan="2">
                        <md-checkbox [(ngModel)]="canGive[1]">
                            Formação Musical
                        </md-checkbox>
                    </td>
                    <td colspan="2">
                        <md-checkbox [(ngModel)]="canGive[2]">
                            Solfejo
                        </md-checkbox>
                    </td>
                    <td colspan="2">
                        <md-checkbox [(ngModel)]="canGive[3]">
                            Classe de Conjunto
                        </md-checkbox>
                    </td>
                    <td colspan="2">
                        <md-input [(ngModel)]='professor.rewarnPerHour' placeholder="Pagamento à Hora" style="width: 100%"></md-input>
                    </td>
                </tr>
            </table>
        </md-card-content>
    </md-card>
    <button md-raised-button *ngIf="!edit" (click)="submit()" class="button" color="primary">Adicionar</button>
    <button md-raised-button *ngIf="edit" (click)="submit()" class="button" color="primary">Editar</button>
</div>   