<div class="content">
    <div style="height:50px;width:100%;"></div>
    <form [formGroup]="professorsForm" (ngSubmit)="submit(professorsForm.value, professorsForm.valid)">
        <md-card class="card">
            <md-toolbar color="primary">Dados do Professor</md-toolbar>
            <md-card-content>
                
                <table style="width: 100%" cellspacing="0">
                    <tr>
                        <td colspan="3">
                            <md-input formControlName="firstName" placeholder="Nome Próprio" style="width: 95%">
                                <md-hint [hidden]="professorsForm.controls.firstName.valid || (professorsForm.controls.firstName.pristine && !submitted)" align="start">
                                    This field is required!
                                </md-hint>
                            </md-input>
                        </td>
                        <td colspan="3">
                            <md-input formControlName="lastName" placeholder="Último Nome" style="width: 100%">
                                <md-hint [hidden]="professorsForm.controls.lastName.valid || (professorsForm.controls.lastName.pristine && !submitted)" align="start">
                                    This field is required!
                                </md-hint>
                            </md-input>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <md-input formControlName="address" style="width: 95%" placeholder="Morada">
                                <md-hint [hidden]="professorsForm.controls.address.valid || (professorsForm.controls.address.pristine && !submitted)" align="start">
                                    This field is required!
                                </md-hint>
                            </md-input>
                        </td>
                        <td colspan="2">
                            <md-input formControlName="email" style="width: 95%" placeholder="Email">
                                <md-hint [hidden]="professorsForm.controls.email.valid || (professorsForm.controls.email.pristine && !submitted)" align="start">
                                    This field is required!
                                </md-hint>
                            </md-input>
                        </td>
                        <td colspan="2">
                            <md-input formControlName="contact" style="width: 100%" placeholder="Contato">
                                <md-hint [hidden]="professorsForm.controls.contact.valid || (professorsForm.controls.contact.pristine && !submitted)" align="start">
                                    This field is required!
                                </md-hint>
                            </md-input>
                        </td>
                    </tr>
                    <tr *ngIf="!edit">
                        <td colspan="3">
                            <md-input formControlName="city" style="width: 95%" placeholder="Cidade">
                                <md-hint [hidden]="professorsForm.controls.city.valid || (professorsForm.controls.city.pristine && !submitted)" align="start">
                                    This field is required!
                                </md-hint>
                            </md-input>
                        </td>
                        <td colspan="3">
                            <md-input formControlName="postalCode" style="width: 95%" maxLength="8" placeholder="Código Postal">

                                <md-hint [hidden]="professorsForm.controls.postalCode.valid || (professorsForm.controls.postalCode.pristine && !submitted)" align="start">
                                    This field is required!
                                </md-hint>
                            </md-input>
                        </td>
                    </tr>
                    <tr *ngIf="!edit">
                        <td colspan="3">
                            <md-input type="date" formControlName="birthdayDate" style="width: 95%" placeholder="Data de Nascimento">
                                <md-hint [hidden]="professorsForm.controls.birthdayDate.valid || (professorsForm.controls.birthdayDate.pristine && !submitted)" align="start">
                                    This field is required!
                                </md-hint>
                            </md-input>
                        </td>
                        <td colspan="3">
                        </td>
                    </tr>
                     <tr *ngIf="edit">
                        <td colspan="2">
                            <md-input formControlName="city" style="width: 95%" placeholder="Cidade">
                                <md-hint [hidden]="professorsForm.controls.city.valid || (professorsForm.controls.city.pristine && !submitted)" align="start">
                                    This field is required!
                                </md-hint>
                            </md-input>
                        </td>
                        <td colspan="2">
                            <md-input formControlName="postalCode" style="width: 95%" maxLength="8" placeholder="Código Postal">

                                <md-hint [hidden]="professorsForm.controls.postalCode.valid || (professorsForm.controls.postalCode.pristine && !submitted)" align="start">
                                    This field is required!
                                </md-hint>
                            </md-input>
                        </td>
                    </tr>
                </table>
            </md-card-content>
        </md-card>

        <md-card>
            <md-toolbar color="primary">Dados Contratuais</md-toolbar>
            <md-card-content>
                <table style="width: 100%" cellspacing="0" >
                    <tr formGroupName="canGive">
                        <td colspan="2">
                            <md-checkbox formControlName="0">
                                Instrumento
                            </md-checkbox>
                        </td>
                        <td colspan="2">
                            <md-checkbox formControlName="1">
                                Formação Musical
                            </md-checkbox>
                        </td>
                        <td colspan="2">
                            <md-checkbox formControlName="2">
                                Solfejo
                            </md-checkbox>
                        </td>
                        <td colspan="2">
                            <md-checkbox formControlName="3">
                                Classe de Conjunto
                            </md-checkbox>
                        </td>
                        
                    </tr>
                    <tr>
                        <td colspan="2">
                            <md-input formControlName="rewarnPerHour" placeholder="Pagamento à Hora" style="width: 100%">
                                <span md-suffix>€</span>
                                <md-hint [hidden]="professorsForm.controls.rewarnPerHour.valid || (professorsForm.controls.rewarnPerHour.pristine && !submitted)" align="start">
                                    This field is required!
                                </md-hint>
                            </md-input>
                        </td>

                    </tr>
                </table>
            </md-card-content>
        </md-card>
        <div class="buttons-container">
            <div class="buttons-holder">
                 <button md-raised-button  type="submit" class="button" color="primary">{{ edit ? 'Editar' : 'Adicionar' }}</button>
            </div>
        </div>
    </form>
</div>