.login-card{

}
.container{
  background-color: #f2f2f2;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   height: 100%;
}
md-card{
  padding: 0px;
  overflow-y: auto;
}
md-card-content{
  padding: 24px;
  width: 200px;
}

.buttons-container{
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
    display: flex;
    margin-bottom: 24px;
}

.buttons-holder {
    align-self: flex-end;
    margin-right: 24px;
 
    
}