<div class="container">
    <md-card class="login-card">
        <md-toolbar color="primary">Login</md-toolbar>
        
        <md-card-content style="min-width: 200px">
            <md-input style="width: 100%;" #email placeholder="Email" value=""></md-input><br>
            <md-input style="width: 100%;" #password type="password" placeholder="Password" value=""> </md-input>

            
        </md-card-content>
        <div class="buttons-container">
            <div class="buttons-holder">
                <button md-raised-button color="primary" (click)="login(email.value, password.value)" >Login</button>
            </div>
        </div>
        
    </md-card>
</div>