<div class="container">
    <md-card class="login-card">
        <md-toolbar color="primary">Login</md-toolbar>
        
        <md-card-content>
            <md-input #email placeholder="Email" value="danielgek@gmail.com"></md-input><br>
            <md-input #password type="password" placeholder="Password" value="daniel"> </md-input>

            
        </md-card-content>
        <div class="buttons-container">
            <div class="buttons-holder">
                <button md-raised-button color="primary" (click)="login(email.value, password.value)" >Login</button>
            </div>
        </div>
        
    </md-card>
</div>