<md-toolbar color="primary">
  <button *ngIf="!showBack" md-icon-button>
      <md-icon  svgSrc="/assets/logo.svg" class="md-24"></md-icon>
    </button>
  <button *ngIf="showBack" (click)="goBack()" md-icon-button>
      <md-icon class="md-24">arrow_back</md-icon>
    </button>
  <span style="margin-left: 10px">FUTAdmin</span>
  <span class="fill-remaining-space"></span>
  <button *ngIf="as.isLogged" (click)="logout()" md-icon-button>
      <md-icon class="md-24">exit_to_app</md-icon>
    </button>
</md-toolbar>
<md-sidenav-layout class="demo-sidenav-layout">

  <md-sidenav #sidenav opened="false" mode="side">
    <md-nav-list>
      <a md-list-item [routerLink]="['home']">Home</a>
      <a md-list-item [routerLink]="['students']">Alunos</a>
      <a md-list-item [routerLink]="['professors']">Professores</a>
      <a md-list-item [routerLink]="['disciplines']">Disciplinas</a>
    </md-nav-list>
  </md-sidenav>
  <router-outlet></router-outlet>
</md-sidenav-layout>