<md-toolbar color="primary">
    <button md-icon-button>
      <md-icon  svgSrc="/assets/logo.svg" class="md-24"></md-icon>
    </button>
    <span style="margin-left: 10px">FUTAdmin</span>
    <span class="fill-remaining-space"></span>
    <span>Copyright @ 2016</span>
  </md-toolbar>
<md-sidenav-layout class="demo-sidenav-layout">
  
  <md-sidenav #sidenav opened="true" mode="side">
    <md-nav-list>
      <a md-list-item [routerLink]="['home']">Home</a>
      <a md-list-item [routerLink]="['alunos']">Alunos</a>
      <a md-list-item [routerLink]="['professores']">Professores</a>
    </md-nav-list>
  </md-sidenav>
  <router-outlet></router-outlet>
</md-sidenav-layout>

