<div class="content">

    <div style="height:50px;width:100%;"></div>
    <md-card class="card">
        <md-toolbar color="primary">Dados do Aluno</md-toolbar>
        <md-card-content>
            <!--<md-input class="demo-full-width" placeholder="Company (disabled)" disabled value="FUT"></md-input> -->
            <table style="width: 100%" cellspacing="0">
                <tr>
                    <td colspan="3">
                        <md-input [(ngModel)]='student.firstName' placeholder="Nome Próprio" style="width: 95%"></md-input>
                    </td>
                    <td colspan="3">
                        <md-input [(ngModel)]='student.lastName' placeholder="Último Nome" style="width: 100%"></md-input>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <md-input [(ngModel)]='student.address' class="demo-full-width" style="width: 95%" placeholder="Morada"></md-input>
                    </td>
                    <td colspan="2">
                        <md-input [(ngModel)]='student.email' class="demo-full-width" style="width: 95%" placeholder="Email"></md-input>
                    </td>
                    <td colspan="2">
                        <md-input [(ngModel)]='student.contact' class="demo-full-width" style="width: 100%" placeholder="Contato"></md-input>
                    </td>
                </tr>
                <tr *ngIf="!edit">
                    <td colspan="3">
                        <md-input [(ngModel)]='student.city' class="demo-full-width" style="width: 95%" placeholder="Cidade" value="Coimbra"></md-input>
                    </td>
                    <td colspan="3">
                        <md-input [(ngModel)]='student.postalCode' class="demo-full-width" style="width: 95%" maxLength="8" placeholder="Código Postal" value="3045">
                        </md-input>
                    </td>
                <tr>
                <tr *ngIf="!edit">
                    <td colspan="3">
                        <md-input [(ngModel)]='student.birthdayDate' class="demo-full-width" style="width: 95%" placeholder="Data de Nascimento" value="Coimbra"></md-input>
                    </td>
                    <td colspan="3">
                        <md-input [(ngModel)]='student.socioNumber' class="demo-full-width" style="width: 100%" maxLength="8" placeholder="Número de Sócio" value="3045">
                        </md-input>
                    </td>
                <tr>
                <tr *ngIf="edit">
                    <td colspan="2">
                        <md-input [(ngModel)]='student.city' class="demo-full-width" style="width: 95%" placeholder="Cidade" value="Coimbra"></md-input>
                    </td>
                    <td colspan="2">
                        <md-input [(ngModel)]='student.postalCode' class="demo-full-width" style="width: 95%" maxLength="8" placeholder="Código Postal" value="3045">
                        </md-input>
                    </td>
                    <td colspan="2">
                        <md-input [(ngModel)]='student.socioNumber' class="demo-full-width" style="width: 100%" maxLength="8" placeholder="Número de Sócio" value="3045">
                        </md-input>
                    </td>
                <tr>
                <tr *ngIf="edit">
                    <td colspan="3">
                        <md-input [(ngModel)]='student.birthdayDate' class="demo-full-width" style="width: 95%" placeholder="Data de Nascimento" value="Coimbra"></md-input>
                    </td>
                    <td colspan="3">
                        <md-input disabled value="{{student.entryDate |  date:'dd/MM/yy'}}" class="demo-full-width" style="width: 100%" maxLength="8" placeholder="Número de Sócio" value="3045">
                        </md-input>
                    </td>
                <tr>
            </table>
        </md-card-content>
    </md-card>
    <md-card class="card">
        <md-toolbar color="primary">Dados do Encarregado de Educação</md-toolbar>
        <md-card-content>
            <!--<md-input class="demo-full-width" placeholder="Company (disabled)" disabled value="FUT"></md-input> -->
            <table style="width: 100%" cellspacing="0">
                <tr>
                    <td colspan="3">
                        <md-input [(ngModel)]='ra.firstName' placeholder="Nome Próprio" style="width: 95%"></md-input>
                    </td>
                    <td colspan="3">
                        <md-input [(ngModel)]='ra.lastName' placeholder="Último Nome" style="width: 87%"></md-input>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <md-input [(ngModel)]='ra.address' class="demo-full-width" style="width: 80%; vertical-align: baseline;" placeholder="Morada"></md-input>
                        <button md-icon-button style="vertical-align: baseline;" (click)="copyFromStudent('address')">
                            <md-icon class="md-32" >content_copy</md-icon>
                        </button>
                    </td>
                    <td colspan="2">
                        <md-input [(ngModel)]='ra.email' class="demo-full-width" style="width: 80%; vertical-align: baseline;" placeholder="Email"></md-input>
                        <button md-icon-button style="vertical-align: baseline;" (click)="copyFromStudent('email')">
                            <md-icon class="md-32" >content_copy</md-icon>
                        </button>
                    </td>
                    <td colspan="2">
                        <md-input [(ngModel)]='ra.contact' class="demo-full-width" style="width: 80%; vertical-align: baseline;" placeholder="Contato"></md-input>
                        <button md-icon-button style="vertical-align: baseline;" (click)="copyFromStudent('contact')">
                            <md-icon class="md-32" >content_copy</md-icon>
                        </button>
                    </td>
                </tr>
                <tr *ngIf="!edit">
                    <td colspan="3">
                        <md-input [(ngModel)]='ra.city' class="demo-full-width" style="width: 85%; vertical-align: baseline;" placeholder="Cidade" value="Coimbra"></md-input>
                        <button md-icon-button style="vertical-align: baseline;" (click)="copyFromStudent('city')">
                            <md-icon class="md-32" >content_copy</md-icon>
                        </button>
                    </td>
                    <td colspan="3">
                        <md-input [(ngModel)]='ra.postalCode' class="demo-full-width" style="width: 87%; vertical-align: baseline;" maxLength="8" placeholder="Código Postal" value="3045">
                        </md-input>
                        <button md-icon-button style="vertical-align: baseline;" (click)="copyFromStudent('postalCode')">
                            <md-icon class="md-32" >content_copy</md-icon>
                        </button>
                    </td>
                </tr>
                <tr *ngIf="!edit">
                    <td colspan="3">
                        <md-input type="date" [(ngModel)]='ra.birthdayDate' class="demo-full-width" style="width: 95%; vertical-align: 11px;" placeholder="Data de Nascimento"></md-input>
                    </td>
                    <td colspan="3">
                        <md-input [(ngModel)]='ra.socioNumber' class="demo-full-width" style="width: 87%; vertical-align: baseline;" placeholder="Número de Sócio">
                        </md-input>
                        <button md-icon-button style="vertical-align: baseline;" (click)="copyFromStudent('socioNumber')">
                            <md-icon class="md-32" >content_copy</md-icon>
                        </button>
                    </td>
                </tr>
                <tr *ngIf="edit">
                    <td colspan="2">
                        <md-input [(ngModel)]='ra.city' class="demo-full-width" style="width: 80%; vertical-align: baseline;" placeholder="Cidade" value="Coimbra"></md-input>
                        <button md-icon-button style="vertical-align: baseline;" (click)="copyFromStudent('city')">
                            <md-icon class="md-32" >content_copy</md-icon>
                        </button>
                    </td>
                    <td colspan="2">
                        <md-input [(ngModel)]='ra.postalCode' class="demo-full-width" style="width: 80%; vertical-align: baseline;" maxLength="8" placeholder="Código Postal" value="3045">
                        </md-input>
                        <button md-icon-button style="vertical-align: baseline;" (click)="copyFromStudent('postalCode')">
                            <md-icon class="md-32" >content_copy</md-icon>
                        </button>
                    </td>
                    <td colspan="2">
                        <md-input [(ngModel)]='ra.socioNumber' class="demo-full-width" style="width: 80%; vertical-align: baseline;" maxLength="8" placeholder="Número de Sócio" value="3045">
                        </md-input>
                        <button md-icon-button style="vertical-align: baseline;" (click)="copyFromStudent('socioNumber')">
                            <md-icon class="md-32" >content_copy</md-icon>
                        </button>
                    </td>
                </tr>
                <tr *ngIf="edit">
                    <td colspan="3">
                        <md-input type="date" [(ngModel)]='ra.birthdayDate' class="demo-full-width" style="width: 95%" placeholder="Data de Nascimento" value="Coimbra"></md-input>
                    </td>
                    <td colspan="3">
                        <md-input disabled value="{{ra.entryDate |  date:'dd/MM/yy'}}" class="demo-full-width" style="width: 100%;" placeholder="Data de Entrada">
                        </md-input>
                    </td>
                </tr>
            </table>
        </md-card-content>
    </md-card>
    <md-card class="card" *ngIf="edit==true">
        <md-card-title>Pagamentos</md-card-title>
        <md-card-content>
            <div *ngIf="student.payments == undefined">
                <p md-line>Não há pagamentos registados</p>
            </div>
            <div *ngIf="student.payments">
                <p md-line > Último registado em {{ student.payments[student.payments.length-1].datePayment | date:"dd/MM/yy" }} para 
                    o mês {{ student.payments[student.payments.length-1].month }} do ano 
                    {{ student.payments[student.payments.length-1].year }} </p>
            </div>
            <button md-button (click)="goToPayments(student.$key)">Detalhes</button>
        </md-card-content>
    </md-card>
    <div class="buttons-container">
        <div class="buttons-holder">
            <button md-raised-button *ngIf="!edit" (click)="submit()" class="button" color="primary">Adicionar</button>
            <button md-raised-button *ngIf="edit" (click)="submit()" class="button" color="primary">Editar</button>
        </div>
    </div>
</div>   
