<div class="content">

    <div style="height:50px;width:100%;"></div>
    <md-card class="card">
        <md-toolbar color="primary">Dados do Aluno</md-toolbar>
        <md-card-content>
            <!--<md-input placeholder="Company (disabled)" disabled value="FUT"></md-input> -->
            <table style="width: 100%" cellspacing="0">
                <tr>
                    <td colspan="3">
                        <md-input [(ngModel)]="student.firstName" placeholder="Nome Próprio" style="width: 95%"></md-input>
                    </td>
                    <td colspan="3">
                        <md-input [(ngModel)]="student.lastName" placeholder="Último Nome" style="width: 100%"></md-input>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <md-input [(ngModel)]="student.address" style="width: 95%" placeholder="Morada"></md-input>
                    </td>
                    <td colspan="2">
                        <md-input [(ngModel)]="student.email" style="width: 95%" placeholder="Email"></md-input>
                    </td>
                    <td colspan="2">
                        <md-input [(ngModel)]="student.contact" style="width: 100%" placeholder="Contato"></md-input>
                    </td>
                </tr>
                <tr *ngIf="!edit">
                    <td colspan="3">
                        <md-input [(ngModel)]="student.city" style="width: 95%" placeholder="Cidade" ></md-input>
                    </td>
                    <td colspan="3">
                        <md-input [(ngModel)]="student.postalCode" style="width: 95%" maxLength="8" placeholder="Código Postal">
                        </md-input>
                    </td>
                <tr>
                <tr *ngIf="!edit">
                    <td colspan="3">
                        <md-input type="date" (ngModelChange)="student.birthdayDate=$event" [(ngModel)]="student.birthdayDate" value="{{student.birthdayDate |  date: 'yyyy-MM-dd' }}" style="width: 95%" placeholder="Data de Nascimento" ></md-input>
                    </td>
                    <td colspan="3">
                        <md-input [(ngModel)]="student.socioNumber" style="width: 100%" maxLength="8" placeholder="Número de Sócio" >
                        </md-input>
                    </td>
                <tr>
                <tr *ngIf="edit">
                    <td colspan="2">
                        <md-input [(ngModel)]="student.city" style="width: 95%" placeholder="Cidade" ></md-input>
                    </td>
                    <td colspan="2">
                        <md-input [(ngModel)]="student.postalCode" style="width: 95%" maxLength="8" placeholder="Código Postal">
                        </md-input>
                    </td>
                    <td colspan="2">
                        <md-input [(ngModel)]="student.socioNumber" style="width: 100%" maxLength="8" placeholder="Número de Sócio">
                        </md-input>
                    </td>
                <tr>
                <tr *ngIf="edit">
                    <td colspan="3">
                        <md-input type="date" (ngModelChange)="student.birthdayDate=$event" [(ngModel)]="student.birthdayDate" value="{{student.birthdayDate |  date: 'yyyy-MM-dd' }}" style="width: 95%" placeholder="Data de Nascimento" ></md-input>
                    </td>
                    <td colspan="3">
                        <md-input type="date" disabled (ngModelChange)="student.entryDate=$event" [(ngModel)]="student.entryDate"  value="student.entryDate" style="width: 100%;" placeholder="Data de Entrada">
                        </md-input>
                    </td>
                <tr>
            </table>
        </md-card-content>
    </md-card>
    <md-card [class.card]="edit" >
        <md-toolbar color="primary">Dados do Encarregado de Educação</md-toolbar>
        <md-card-content>
            <table style="width: 100%" cellspacing="0">
                <tr>
                    <td colspan="3">
                        <md-input [(ngModel)]="ra.firstName" placeholder="Nome Próprio" style="width: 95%"></md-input>
                    </td>
                    <td colspan="3">
                        <md-input [(ngModel)]="ra.lastName" placeholder="Último Nome" style="width: 87%"></md-input>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <md-input [(ngModel)]="ra.address" style="width: 80%;" placeholder="Morada"></md-input>
                        <button md-icon-button style="vertical-align: bottom;" (click)="copyFromStudent('address')">
                            <md-icon class="md-32" >content_copy</md-icon>
                        </button>
                    </td>
                    <td colspan="2">
                        <md-input [(ngModel)]="ra.email" style="width: 80%;" placeholder="Email"></md-input>
                        <button md-icon-button style="vertical-align: bottom;" (click)="copyFromStudent('email')">
                            <md-icon class="md-32" >content_copy</md-icon>
                        </button>
                    </td>
                    <td colspan="2">
                        <md-input [(ngModel)]="ra.contact" style="width: 80%;" placeholder="Contato"></md-input>
                        <button md-icon-button style="vertical-align: bottom;" (click)="copyFromStudent('contact')">
                            <md-icon class="md-32" >content_copy</md-icon>
                        </button>
                    </td>
                </tr>
                <tr *ngIf="!edit">
                    <td colspan="3">
                        <md-input [(ngModel)]="ra.city" style="width: 85%;" placeholder="Cidade"></md-input>
                        <button md-icon-button style="vertical-align: bottom;" (click)="copyFromStudent('city')">
                            <md-icon class="md-32" >content_copy</md-icon>
                        </button>
                    </td>
                    <td colspan="3">
                        <md-input [(ngModel)]="ra.postalCode" style="width: 87%;" maxLength="8" placeholder="Código Postal">
                        </md-input>
                        <button md-icon-button style="vertical-align: bottom;" (click)="copyFromStudent('postalCode')">
                            <md-icon class="md-32" >content_copy</md-icon>
                        </button>
                    </td>
                </tr>
                <tr *ngIf="!edit">
                    <td colspan="3">
                        <md-input type="date" (ngModelChange)="ra.birthdayDate=$event" [(ngModel)]="ra.birthdayDate" value="{{ra.birthdayDate |  date: 'yyyy-MM-dd' }}"  style="width: 95%; vertical-align: 11px;" placeholder="Data de Nascimento"></md-input>
                    </td>
                    <td colspan="3">
                        <md-input [(ngModel)]="ra.socioNumber" style="width: 87%;" placeholder="Número de Sócio">
                        </md-input>
                        <button md-icon-button style="vertical-align: bottom;" (click)="copyFromStudent('socioNumber')">
                            <md-icon class="md-32" >content_copy</md-icon>
                        </button>
                    </td>
                </tr>
                <tr *ngIf="edit">
                    <td colspan="2">
                        <md-input [(ngModel)]="ra.city" style="width: 80%;" placeholder="Cidade" ></md-input>
                        <button md-icon-button style="vertical-align: bottom;" (click)="copyFromStudent('city')">
                            <md-icon class="md-32" >content_copy</md-icon>
                        </button>
                    </td>
                    <td colspan="2">
                        <md-input [(ngModel)]="ra.postalCode" style="width: 80%;" maxLength="8" placeholder="Código Postal" >
                        </md-input>
                        <button md-icon-button style="vertical-align: bottom;" (click)="copyFromStudent('postalCode')">
                            <md-icon class="md-32" >content_copy</md-icon>
                        </button>
                    </td>
                    <td colspan="2">
                        <md-input [(ngModel)]="ra.socioNumber" style="width: 80%;" maxLength="8" placeholder="Número de Sócio">
                        </md-input>
                        <button md-icon-button style="vertical-align: bottom;" (click)="copyFromStudent('socioNumber')">
                            <md-icon class="md-32" >content_copy</md-icon>
                        </button>
                    </td>
                </tr>
                <tr *ngIf="edit">
                    <td colspan="3">
                        <md-input type="date" (ngModelChange)="ra.birthdayDate=$event" [(ngModel)]="ra.birthdayDate" value="{{ra.birthdayDate |  date: 'yyyy-MM-dd' }}" style="width: 95%" placeholder="Data de Nascimento" ></md-input>
                    </td>
                    <td colspan="3">
                        <md-input type="date" disabled (ngModelChange)="ra.entryDate=$event" [(ngModel)]="ra.entryDate"  value="ra.entryDate" style="width: 100%;" placeholder="Data de Entrada">
                        </md-input>
                    </td>
                </tr>
            </table>
        </md-card-content>
    </md-card>
    <md-card *ngIf="edit">
        <md-toolbar color="primary">Pagamentos</md-toolbar>
        <md-card-content>
            <div *ngIf="student.payments == undefined">
                <p md-line>Não há pagamentos registados</p>
            </div>
            <div *ngIf="student.payments">
                <p md-line > Último regista mês {{ months[student.payments[student.payments.length-1].month] }} do ano 
                    {{ student.payments[student.payments.length-1].year }} </p>
            </div>
            <button md-raised-button class="button" color="primary" (click)="goToPayments(student.$key)">Detalhes</button>
        </md-card-content>
    </md-card>
    <div class="buttons-container">
        <div class="buttons-holder">
            <button md-raised-button *ngIf="!edit" (click)="submit()" class="button" color="primary">Adicionar</button>
            <button md-raised-button *ngIf="edit" (click)="submit()" class="button" color="primary">Editar</button>
        </div>
    </div>
</div>   
