<div class="content">

    <div color="primary" style="height:50px;width:100%;"></div>
    <form [formGroup]="studentForm" (ngSubmit)="submit(studentForm.value, studentForm.valid)">
        <md-card class="card">
            <md-toolbar color="primary">Dados do Aluno</md-toolbar>
            <md-card-content>

                <table style="width: 100%" cellspacing="0">
                    <tr>
                        <td colspan="3">
                            <md-input formControlName="firstName" placeholder="Nome Próprio" style="width: 95%">
                                <md-hint [hidden]="studentForm.controls.firstName.valid || (studentForm.controls.firstName.pristine && !submitted)" align="start">
                                    This field is required!
                                </md-hint>
                            </md-input>
                        </td>
                        <td colspan="3">
                            <md-input formControlName="lastName" placeholder="Último Nome" style="width: 100%">
                                <md-hint [hidden]="studentForm.controls.lastName.valid || (studentForm.controls.lastName.pristine && !submitted)" align="start">
                                    This field is required!
                                </md-hint>
                            </md-input>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <md-input formControlName="address" style="width: 95%" placeholder="Morada">
                                <md-hint [hidden]="studentForm.controls.address.valid || (studentForm.controls.address.pristine && !submitted)" align="start">
                                    This field is required!
                                </md-hint>
                            </md-input>
                        </td>
                        <td colspan="2">
                            <md-input formControlName="email" style="width: 95%" placeholder="Email">
                                <md-hint [hidden]="studentForm.controls.email.valid || (studentForm.controls.email.pristine && !submitted)" align="start">
                                    This field is required!
                                </md-hint>
                            </md-input>
                        </td>
                        <td colspan="2">
                            <md-input formControlName="contact" style="width: 100%" placeholder="Contato">
                                <md-hint [hidden]="studentForm.controls.contact.valid || (studentForm.controls.contact.pristine && !submitted)" align="start">
                                    This field is required!
                                </md-hint>
                            </md-input>
                        </td>
                    </tr>
                    <tr *ngIf="!edit">
                        <td colspan="3">
                            <md-input formControlName="city" style="width: 95%" placeholder="Cidade">
                                <md-hint [hidden]="studentForm.controls.city.valid || (studentForm.controls.city.pristine && !submitted)" align="start">
                                    This field is required!
                                </md-hint>
                            </md-input>
                        </td>
                        <td colspan="3">
                            <md-input formControlName="postalCode" style="width: 95%" maxLength="8" placeholder="Código Postal">

                                <md-hint [hidden]="studentForm.controls.postalCode.valid || (studentForm.controls.postalCode.pristine && !submitted)" align="start">
                                    This field is required!
                                </md-hint>
                            </md-input>
                        </td>
                    </tr>
                    <tr *ngIf="!edit">
                        <td colspan="3">
                            <md-input type="date" formControlName="birthdayDate" style="width: 95%" placeholder="Data de Nascimento">
                                <md-hint [hidden]="studentForm.controls.birthdayDate.valid || (studentForm.controls.birthdayDate.pristine && !submitted)" align="start">
                                    This field is required!
                                </md-hint>
                            </md-input>
                        </td>
                        <td colspan="3">
                            <!--<md-input formControlName="socioNumber" style="width: 100%" maxLength="8" placeholder="Número de Sócio">

                                <md-hint [hidden]="studentForm.controls.socioNumber.valid || (studentForm.controls.socioNumber.pristine && !submitted)" align="start">
                                    This field is required!
                                </md-hint>
                            </md-input>-->
                        </td>
                    </tr>
                    <tr *ngIf="edit">
                        <td colspan="2">
                            <md-input formControlName="city" style="width: 95%" placeholder="Cidade">
                                <md-hint [hidden]="studentForm.controls.city.valid || (studentForm.controls.city.pristine && !submitted)" align="start">
                                    This field is required!
                                </md-hint>
                            </md-input>
                        </td>
                        <td colspan="2">
                            <md-input formControlName="postalCode" style="width: 95%" maxLength="8" placeholder="Código Postal">

                                <md-hint [hidden]="studentForm.controls.postalCode.valid || (studentForm.controls.postalCode.pristine && !submitted)" align="start">
                                    This field is required!
                                </md-hint>
                            </md-input>
                        </td>
                        <td colspan="2">
                            <!--<md-input formControlName="socioNumber" style="width: 100%" maxLength="8" placeholder="Número de Sócio">

                                <md-hint [hidden]="studentForm.controls.socioNumber.valid || (studentForm.controls.socioNumber.pristine && !submitted)" align="start">
                                    This field is required!
                                </md-hint>
                            </md-input>-->
                        </td>
                    </tr>
                    <tr *ngIf="edit">
                        <td colspan="3">
                            <md-input type="date" formControlName="birthdayDate" style="width: 95%"
                                placeholder="Data de Nascimento">
                                <md-hint [hidden]="studentForm.controls.birthdayDate.valid || (studentForm.controls.birthdayDate.pristine && !submitted)" align="start">
                                    This field is required!
                                </md-hint>
                            </md-input>
                        </td>
                        <td colspan="3">
                            <!--<md-input type="date" disabled formControlName="entryDate" style="width: 100%;" placeholder="Data de Entrada">

                                <md-hint [hidden]="studentForm.controls.entryDate.valid || (studentForm.controls.entryDate.pristine && !submitted)" align="start">
                                    This field is required!
                                </md-hint>
                            </md-input>-->
                        </td>
                    </tr>
                </table>

            </md-card-content>
        </md-card>
        <md-card [class.card]="edit" formGroupName="responsibleAdult">
            <md-toolbar color="primary">Dados do Encarregado de Educação</md-toolbar>
            <md-card-content>
                <table style="width: 100%" cellspacing="0">
                    <tr>
                        <td colspan="3">
                            <md-input formControlName="firstName" placeholder="Nome Próprio" style="width: 95%">
                                <md-hint [hidden]="studentForm.controls.responsibleAdult.controls.firstName.valid || (studentForm.controls.responsibleAdult.controls.firstName.pristine && !submitted)" align="start">
                                    This field is required!
                                </md-hint>
                            </md-input>
                        </td>
                        <td colspan="3">
                            <md-input formControlName="lastName" placeholder="Último Nome" style="width: 87%">
                                <md-hint [hidden]="studentForm.controls.responsibleAdult.controls.lastName.valid || (studentForm.controls.responsibleAdult.controls.lastName.pristine && !submitted)" align="start">
                                    This field is required!
                                </md-hint>
                            </md-input>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <md-input formControlName="address" style="width: 80%;" placeholder="Morada">
                                <md-hint [hidden]="studentForm.controls.responsibleAdult.controls.address.valid || (studentForm.controls.responsibleAdult.controls.address.pristine && !submitted)" align="start">
                                    This field is required!
                                </md-hint>
                            </md-input>
                            <button md-icon-button style="vertical-align: bottom;" (click)="copyFromStudent('address')">
                            <md-icon class="md-32" >content_copy</md-icon>
                        </button>
                        </td>
                        <td colspan="2">
                            <md-input formControlName="email" style="width: 80%;" placeholder="Email">
                                <md-hint [hidden]="studentForm.controls.responsibleAdult.controls.email.valid || (studentForm.controls.responsibleAdult.controls.email.pristine && !submitted)" align="start">
                                    This field is required!
                                </md-hint>
                            </md-input>
                            <button md-icon-button style="vertical-align: bottom;" (click)="copyFromStudent('email')">
                            <md-icon class="md-32" >content_copy</md-icon>
                        </button>
                        </td>
                        <td colspan="2">
                            <md-input formControlName="contact" style="width: 80%;" placeholder="Contato">
                                <md-hint [hidden]="studentForm.controls.responsibleAdult.controls.contact.valid || (studentForm.controls.responsibleAdult.controls.contact.pristine && !submitted)" align="start">
                                    This field is required!
                                </md-hint>
                            </md-input>
                            <button md-icon-button style="vertical-align: bottom;" (click)="copyFromStudent('contact')">
                            <md-icon class="md-32" >content_copy</md-icon>
                        </button>
                        </td>
                    </tr>
                    <tr *ngIf="!edit">
                        <td colspan="3">
                            <md-input formControlName="city" style="width: 85%;" placeholder="Cidade">
                                <md-hint [hidden]="studentForm.controls.responsibleAdult.controls.city.valid || (studentForm.controls.responsibleAdult.controls.city.pristine && !submitted)" align="start">
                                    This field is required!
                                </md-hint>
                            </md-input>
                            <button md-icon-button style="vertical-align: bottom;" (click)="copyFromStudent('city')">
                            <md-icon class="md-32" >content_copy</md-icon>
                        </button>
                        </td>
                        <td colspan="3">
                            <md-input formControlName="postalCode" style="width: 87%;" maxLength="8" placeholder="Código Postal">

                                <md-hint [hidden]="studentForm.controls.responsibleAdult.controls.postalCode.valid || (studentForm.controls.responsibleAdult.controls.postalCode.pristine && !submitted)" align="start">
                                    This field is required!
                                </md-hint>
                            </md-input>
                            <button md-icon-button style="vertical-align: bottom;" (click)="copyFromStudent('postalCode')">
                            <md-icon class="md-32" >content_copy</md-icon>
                        </button>
                        </td>
                    </tr>
                    <tr *ngIf="!edit">
                        <td colspan="3">
                            <md-input type="date" formControlName="birthdayDate" style="width: 95%; vertical-align: 11px;" placeholder="Data de Nascimento">
                                <md-hint [hidden]="studentForm.controls.responsibleAdult.controls.birthdayDate.valid || (studentForm.controls.responsibleAdult.controls.birthdayDate.pristine && !submitted)" align="start">
                                    This field is required!
                                </md-hint>
                            </md-input>
                        </td>
                        <td colspan="3">
                            <!--<md-input formControlName="socioNumber" style="width: 87%;" placeholder="Número de Sócio">

                                <md-hint [hidden]="studentForm.controls.responsibleAdult.controls.socioNumber.valid || (studentForm.controls.responsibleAdult.controls.socioNumber.pristine && !submitted)" align="start">
                                    This field is required!
                                </md-hint>
                            </md-input>
                            <button md-icon-button style="vertical-align: bottom;" (click)="copyFromStudent('socioNumber')">
                            <md-icon class="md-32" >content_copy</md-icon>
                        </button>-->
                        </td>
                    </tr>
                    <tr *ngIf="edit">
                        <td colspan="2">
                            <md-input formControlName="city" style="width: 80%;" placeholder="Cidade">
                                <md-hint [hidden]="studentForm.controls.responsibleAdult.controls.city.valid || (studentForm.controls.responsibleAdult.controls.city.pristine && !submitted)" align="start">
                                    This field is required!
                                </md-hint>
                            </md-input>
                            <button md-icon-button style="vertical-align: bottom;" (click)="copyFromStudent('city')">
                            <md-icon class="md-32" >content_copy</md-icon>
                        </button>
                        </td>
                        <td colspan="2">
                            <md-input formControlName="postalCode" style="width: 80%;" maxLength="8" placeholder="Código Postal">

                                <md-hint [hidden]="studentForm.controls.responsibleAdult.controls.postalCode.valid || (studentForm.controls.responsibleAdult.controls.postalCode.pristine && !submitted)" align="start">
                                    This field is required!
                                </md-hint>
                            </md-input>
                            <button md-icon-button style="vertical-align: bottom;" (click)="copyFromStudent('postalCode')">
                            <md-icon class="md-32" >content_copy</md-icon>
                        </button>
                        </td>
                        <td colspan="2">
                            <!--<md-input formControlName="socioNumber" style="width: 80%;" maxLength="8" placeholder="Número de Sócio">

                                <md-hint [hidden]="studentForm.controls.responsibleAdult.controls.socioNumber.valid || (studentForm.controls.responsibleAdult.controls.socioNumber.pristine && !submitted)" align="start">
                                    This field is required!
                                </md-hint>
                            </md-input>
                            <button md-icon-button style="vertical-align: bottom;" (click)="copyFromStudent('socioNumber')">
                            <md-icon class="md-32" >content_copy</md-icon>
                        </button>-->
                        </td>
                    </tr>
                    <tr *ngIf="edit">
                        <td colspan="3">
                            <md-input type="date" formControlName="birthdayDate" style="width: 95%" placeholder="Data de Nascimento">
                                <md-hint [hidden]="studentForm.controls.responsibleAdult.controls.birthdayDate.valid || (studentForm.controls.responsibleAdult.controls.birthdayDate.pristine && !submitted)" align="start">
                                    This field is required!
                                </md-hint>
                            </md-input>
                        </td>
                        <td colspan="3">
                            <!--<md-input type="date" disabled formControlName="entryDate" style="width: 100%;" placeholder="Data de Entrada">

                                <md-hint [hidden]="studentForm.controls.responsibleAdult.controls.entryDate.valid || (studentForm.controls.responsibleAdult.controls.entryDate.pristine && !submitted)" align="start">
                                    This field is required!
                                </md-hint>
                            </md-input>-->
                        </td>
                    </tr>
                </table>
            </md-card-content>
        </md-card>
        <md-card *ngIf="edit">
            <md-toolbar color="primary">Pagamentos</md-toolbar>
            <md-card-content>
                <div *ngIf="payments == undefined">
                    <p md-line>Não há pagamentos registados</p>
                </div>
                <div *ngIf="payments">
                    <p md-line> Último regista mês {{ months[payments[payments.length-1].month] }} do ano {{ payments[payments.length-1].year
                        }} </p>
                </div>
                <button md-raised-button class="button" color="primary" (click)="goToPayments($key)">Detalhes</button>
            </md-card-content>
        </md-card>
        <div class="buttons-container">
            <div class="buttons-holder">
                <button md-raised-button  type="submit" class="button" color="primary">{{ edit ? 'Editar' : 'Adicionar' }}</button>
            </div>
        </div>
    </form>
</div>