<div class="content">
    <div style="height:50px;width:100%;"></div>
    <md-card class="card">
        <md-card-title>Turmas de {{presentationName}}
        </md-card-title>
        <md-card-content>
            <div class="searchbar" style="margin-top:-50px;">
                <md-icon style="margin-bottom:10px; margin-right:5px;" class="md-32" >search</md-icon>
                <md-input #input (keyup)="search(input.value)" placeholder="Pesquisa" value=""></md-input>
            </div>
            <md-list dense>
                <md-list-item *ngFor="let class of classes | async">
                    <h4 md-line>{{class.name}}</h4>
                    <button md-icon-button (click)="editClass(class.$key)">
                        <md-icon class="md-32" >edit</md-icon>
                    </button>
                </md-list-item>

                <md-list-item  *ngIf="loading"  align="center">
                    <div class="progress-container">
                        <md-progress-circle mode="indeterminate" color="primary"></md-progress-circle>
                    </div>
                </md-list-item>
            </md-list>
        </md-card-content>
    </md-card>
    
    <a class="add-class" (click)="goToAdd()" md-fab>
      <md-icon class="md-24" >add</md-icon>
    </a>
</div>

<router-outlet></router-outlet>
