<div class="content">
    <md-card class="card">
        <md-card-title>Dados do Aluno</md-card-title>
        <md-card-content>
            <!--<md-input class="demo-full-width" placeholder="Company (disabled)" disabled value="FUT"></md-input> -->
            <table style="width: 100%" cellspacing="0">
                <tr>
                    <td colspan="3">
                        <md-input [(ngModel)]='aluno.firstName' placeholder="Nome Próprio" style="width: 95%"></md-input>
                    </td>
                    <td colspan="3">
                        <md-input [(ngModel)]='aluno.lastName' placeholder="Último Nome" style="width: 100%"></md-input>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <md-input [(ngModel)]='aluno.address' class="demo-full-width" style="width: 95%" placeholder="Morada"></md-input>
                    </td>
                    <td colspan="2">
                        <md-input [(ngModel)]='aluno.email' class="demo-full-width" style="width: 95%" placeholder="Email"></md-input>
                    </td>
                    <td colspan="2">
                        <md-input [(ngModel)]='aluno.contact' class="demo-full-width" style="width: 100%" placeholder="Contato"></md-input>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <md-input [(ngModel)]='aluno.city' class="demo-full-width" style="width: 95%" placeholder="Cidade" value="Coimbra"></md-input>
                    </td>
                    <td colspan="2">
                        <md-input [(ngModel)]='aluno.district' class="demo-full-width" style="width: 95%" placeholder="Distrito" value="Coimbra"></md-input>
                    </td>
                    <td colspan="2">
                        <md-input [(ngModel)]='aluno.postalCode' class="demo-full-width" style="width: 100%" maxLength="8" placeholder="Código Postal" value="3045">
                            <md-hint align="end">{{postalCode.characterCount}} / 8</md-hint>
                        </md-input>
                    </td>
                <tr>
            </table>
        </md-card-content>
    </md-card>
    <md-card class="card">
        <md-card-title>Dados do Encarregado de Educação</md-card-title>
        <md-card-content>
            <form>
                <!--<md-input class="demo-full-width" placeholder="Company (disabled)" disabled value="FUT"></md-input> -->
                <table style="width: 100%" cellspacing="0">
                    <tr>
                        <td colspan="3">
                            <md-input placeholder="First name" style="width: 95%"></md-input>
                        </td>
                        <td colspan="3">
                            <md-input placeholder="Long Last Name That Will Be Truncated" style="width: 100%"></md-input>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <md-input class="demo-full-width" style="width: 95%" placeholder="Address"></md-input>
                        </td>
                        <td colspan="2">
                            <md-input class="demo-full-width" style="width: 95%" placeholder="Email"></md-input>
                        </td>
                        <td colspan="2">
                            <md-input class="demo-full-width" style="width: 100%" placeholder="Mobile"></md-input>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <md-input class="demo-full-width" style="width: 95%" placeholder="City" value="Coimbra"></md-input>
                        </td>
                        <td colspan="2">
                            <md-input class="demo-full-width" style="width: 95%" placeholder="District" value="Coimbra"></md-input>
                        </td>
                        <td colspan="2">
                            <md-input #postalCode class="demo-full-width" style="width: 100%; margin: 10px" maxLength="8" placeholder="Postal Code" value="3045">
                                <md-hint align="end">{{postalCode.characterCount}} / 8</md-hint>
                            </md-input>
                        </td>
                    <tr>
                </table>
            </form>
        </md-card-content>
    </md-card>
    <md-card class="card" *ngIf="edit==true">
        <md-card-title>Pagamentos</md-card-title>
        <md-card-content>
            <div *ngIf="aluno.pagamentos == undefined">
                <p md-line>Não há pagamentos registados</p>
            </div>
            <div *ngIf="aluno.pagamentos">
                <p md-line > Último registado em {{ aluno.pagamentos[aluno.pagamentos.length-1].datePayment*1000 | date:"dd/MM/yy" }} para 
                    o mês {{ aluno.pagamentos[aluno.pagamentos.length-1].month }} do ano 
                    {{ aluno.pagamentos[aluno.pagamentos.length-1].year }} </p>
            </div>
            <button md-button (click)="irPagamentos(aluno.$key)">Adicionar Pagamento</button>
        </md-card-content>
    </md-card>
    <button md-raised-button (click)="submit()" class="button" color="primary">Adicionar</button>
</div>   
