.content{
  height:100%;
  padding-left: 0px;
  padding-right: 0px;
  background: #f2f2f2;
  overflow-x: auto;
}

md-grid-list {
    height:100%;
}

md-card{
    height: 90%;
    width: 90%;
    margin-bottom:0px;
    padding: 0px;
    overflow-y: auto;
}

md-card-content{
  padding: 24px;
}


.fill-remaining-space {
  flex: 1 1 auto;
}
.number{
  color: #009688;
  font-size: 1.7em;
  font-weight: bold;

}
.line {
  font-size: 1.3em;
}

[md-icon-button] {
  line-height: 36px;
}    